name: Publish on PR Merge to Main

on:
  pull_request:
    types: [closed]

jobs:
  publish:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write
      pull-requests: read

    steps:
      - name: Generate GitHub App token
        id: app_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.CLEANRJS_GH_APP_ID }}
          private_key: ${{ secrets.CLEANRJS_GH_PRIVATE_KEY }}
          installation_retrieval_mode: 'repository'
          installation_retrieval_payload: '{"owner":"tsusheel","repo":"cleanrjs"}'

      - name: Configure git for pushing
        run: |
          git config user.name "cleanrjs-ci-bot"
          git config user.email "cleanrjs-ci-bot@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ steps.app_token.outputs.token }}@github.com/<owner>/<repo>.git

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.0
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Run Prettier check
        run: npm run format-check

      - name: Run tests with coverage
        run: npm run test

      ################################################
      #  AUTO VERSION BUMP LOGIC BASED ON PR LABELS  #
      ################################################

      - name: Determine version bump type
        id: bump
        run: |
          title="${{ github.event.pull_request.title }}"
          labels=$(echo '${{ toJson(github.event.pull_request.labels) }}' | jq -r '.[].name')

          echo "PR title: $title"
          echo "Labels: $labels"

          # default bump
          bump="patch"

          # breaking
          if echo "$labels" | grep -iq "breaking"; then
            bump="major"
          fi

          # feature
          if echo "$labels" | grep -iq "feature"; then
            bump="minor"
          fi

          echo "BUMP_TYPE=$bump" >> $GITHUB_ENV
          echo "Bumping version: $bump"

      - name: Bump version accordingly
        run: |
          npm version $BUMP_TYPE -m "chore: bump $BUMP_TYPE version to %s"
          NEW_VERSION=$(node -p "require('./package.json').version")
          echo "New Version: $NEW_VERSION"

      - name: Push version bump
        run: git push --follow-tags

      - name: Publish to npm
        run: npm publish --provenance

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
